.borderBottomLine {
    border-bottom: 1px solid #ccc;
  }
  .flex-container{
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}
.flex-container .column{
    padding: 10px 0px;
}

@media only screen and (min-width: 600px) {
  .logo{
    height: 50px;
    width: 52px;
  }
  .logo-text{
    font-size:  35px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
}

@media only screen and (max-width: 600px) {
  .logo{
    height: 40px;
    width: 40px;
  }
  .logo-text{
    font-size: 25px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
}